*{
    margin: 0;
    padding: 0;
}
body{
margin :10px auto;
padding: 5%;
font-family:sans-serif, cursive, fantasy, Ariel, Verdana ;
background-color: rgb(255, 255, 255);
}

main{
line-height: 25px;
}

section{
    padding: 10px 40px;
}


.highlight {
    background-color: rgb(255, 255, 201);
    padding: 30px;
    margin: 5px;
    width: auto;
    border-radius: 50px;
}

h2{
    padding: 10px 0px 10px 0px;
}
